.card {
    height: 18rem;
    align-items: center;
    width: 18rem; 
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.actions {
    display: flex;
    justify-content: space-around;
    height: 20%;
}